# /apps/angen.vars

ERL_MAX_PORTS=65536

DATABASE_USERNAME="angen_prod"
DATABASE_PASSWORD="{{ db_password }}"
DATABASE_HOSTNAME="{{ database_hostname }}"
DATABASE_DB_NAME="angen_prod"
SECRET_KEY_BASE="{{ secret_key_base }}"
DOMAIN_NAME="{{ ansible_host }}"
RELEASE_NODE="angen@{{ ansible_host }}"
NODE_NAME="{{ inventory_hostname }}"

# Website
ANGEN_SITE_TITLE="Angen"

# Optional values
# JSON_SCHEMA_PATH="/apps/angen/lib/angen-0.0.1/priv/static/schema"
# TLS_PORT=8201
# CERT_ROOT="/etc/letsencrypt/live/{{ ansible_host }}"
# FONTAWESOME_FREE_ONLY="TRUE"
# ANGEN_INTEGRATION_MODE="FALSE"
# ANGEN_ALLOW_WEB_REGISTER="FALSE"
# ANGEN_ALLOW_GUEST_ACCOUNTS="FALSE"
