<html>
<head>
  <meta http-equiv=\"refresh\" content=\"0\"; url=\"{{ ansible_host }}\" />
</head>
<body>You are being redirected to <a href=\"{{ ansible_host }}\">{{ ansible_host }}</a></body>
</html>
