# User verification
User verification is a method to prevent fake or dummy accounts being used to interfere with the running of the server or your game. Angen currently provides support for both no verification and manual verification.

Note: Guest accounts ignore verification requirements.

## Verification: None
All accounts are created verified, there is no protection or impediment in place. This is ideal for any situation where you want the bare minimum friction for new users signing up.

## Verification: Manual
Accounts must be manually verified through the admin control panel.

