<div style="height: 15px;">&nbsp;</div>

<div class="row">
  <.menu_card icon="play" icon_class="fa-duotone" url={~p"/admin/data/match"}>
    Match data
  </.menu_card>

  <.menu_card :if={false} icon="slider" icon_class="fa-duotone" url={~p"/admin/data/event"}>
    Event data
  </.menu_card>
</div>

<div class="row mt-3">
  <.menu_card icon={StylingHelper.icon(:back)} icon_class="fa-duotone" url={~p"/admin"}>
    Back
  </.menu_card>
</div>
