-kernel inet_dist_listen_min 9100
-kernel inet_dist_listen_max 9110
-kernel net_ticktime 10

# Increase port count
+Q 65536

# Disable busy waiting following https://stressgrid.com/blog/beam_cpu_usage/
+sbwt none
+sbwtdcpu none
+sbwtdio none
